<html>
  <head>
    <title>Message</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../static/img/home/search.jpg"/>
    <link rel="stylesheet" href="../static/css/result/style.css">
    
  </head>
  <body>
  	<h1 style="border-top-style: solid;border-top-width: 50px;margin-bottom: 50px; color: #1F2739">
    	<span class="yellow" style="text-align: center;">{{message}}</span>
		
	<h1>
    	
   </body>
</html>

