<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Profile Page</title>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../static/img/signin/user.png"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel=stylesheet href="main.css">

    <link rel="stylesheet" href="../static/css/profile_page/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container-fluid main" style="height:100vh;padding-left:0px;">

  <div class="row align-items-center" style="height:100%">

    <div class="col-md-3 d-none d-md-block" style="height:100%">

      <div class="container-fluid nav sidebar flex-column">

        <a href="#" class="nav-link active mt-auto"><i class="far fa-user-circle"></i> Profile</a>
        <a href="#" class="nav-link"><i class="far fa-bell"></i> Notifications</a>
        <a href="#" class="nav-link"><i class="far fa-file-alt"></i> Billing Info</a>
        <a href="#" class="nav-link"><i class="fas fa-cogs"></i> General</a>
        <a href="/welcome_user" class="nav-link"><i class="fas fa-file"></i> Search Paper</a>
        <a href="/logout" class="nav-link mb-auto"><i class="fas fa-shield-alt"></i> Sign Out</a>

      </div>

    </div>

    <div class="col-md-9">

      <div class="container content clear-fix">

        <h2 class="mt-5 mb-5">Profile Settings</h2>

        <div class="row" style="height:100%">

        <form method="POST" action="/save_changes" enctype = "multipart/form-data">

          <div class="col-md-3">

            <div href=# class="d-inline">
            	<img src="{{user_data['profile_pic']}}" width=130px style="margin:0;"><br>
            	<!-- <img src="{{user_data['profile_pic']}}" width=130px style="margin:0;"><br> -->
            	<!-- {% if "{{user_data['profile_pic']}}" == "" %}
            		<img src="../static/img/profile/face.png" width=130px style="margin:0;"><br>
            	{% else %}
            		<img src="{{user_data['profile_pic']}}" width=130px style="margin:0;"><br>
            	{% endif %} -->
<!--               <p class="pl-2 mt-2"><a href="#" class="btn" style="color:#8f9096;font-weight:600">Edit Picture</a></p>
              <div class="input-group">
                    <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse… <input type="file" id="fileupload" name="file" multiple>
                    </span>
                    </span>
                    <input type="text" class="form-control" readonly>
                </div> -->
                <p class="pl-2 mt-2">
		                    <span class="btn btn-primary btn-file">
		                        Browse… <input type="file" id="fileupload" name="file" multiple>
		                    </span>
            	</p>
            </div>

          </div>

          <div class="col-md-9">

            <div class="container">

              <!-- <form method="POST" action="/save_changes"> -->

                <div class="form-group">

                  <label for=fullName>Full Name</label>
                  <input type="text" class="form-control" id="fullName" placeholder="{{user_data['name']}}" readonly>

                </div>
                <div class="form-group">

                  <label for=email>Email</label>
                  <input type="email" class="form-control" id="email" placeholder="{{user_data['email']}}" readonly>

                </div>
                <div class="form-group">

                  <label for=pass>Password</label>
                  <input type="password" class="form-control" id="pass" placeholder="........." readonly>

                </div>
                <div class="form-group">

                  <label for=profession>Profession</label>
                  <!-- <input type="text" class="form-control" id="profession" placeholder="{{user_data['profession']}}"> -->
                  <select type="text" class="form-control" name="profession" id="profession" value="{{user_data['profession']}}">
                  					<option>{{user_data['profession']}}</option>  
                                    <option>Student</option>  
                                    <option>Professor</option>  
                                    <option>Researcher</option>
                   </select>

                </div>
                <div class="form-group">

                  <label for=workplace>Workplace</label>
                  <!-- <input type="email" class="form-control" id="workplace" placeholder="{{user_data['workplace']}}"> -->
                  <select type="text" class="form-control" name="workplace" id="workplace" value="{{user_data['workplace']}}"> 
                  					<option>{{user_data['workplace']}}</option> 
                                    <option>Institute</option>  
                                    <option>Company</option>  
                                    <option>Others</option>
                   </select>

                </div>

                <div class="row mt-5">

                  <div class="col">

                    <button type="submit" class="btn btn-primary btn-block">Save Changes</button>

                  </div>

                  <div class="col">

                    <button type="button" class="btn btn-default btn-block"><a href="/profile" >Cancel</a></button>

                  </div>

                </div>

              <!-- </form> -->

            </div>

          </div>

      </form>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<!-- partial -->
  <script  src="../static/js/profile/main.js"></script>

</body>
</html>
